@model App.Models.Imagem

@{
    ViewBag.Titulo = "Exclusão Imagem";
}

<form method="post">
    <div class="mt-3">
        <h3>Tem certza que deseja excluir a imagem <b>@Model.Titulo</b>?</h3>
    </div>
    <div class="mt-3">
        <a asp-action="Index" asp-controller="Imagem" asp-route-id="@Model.IdGaleria" class="btn btn-secondary">Cancelar</a>
        <button class="btn btn-danger" type="submit">Excluir</button>
    </div>
</form>