.link-ativo {
    text-shadow: 0px 0px 2px #bbb !important;
    color: white !important;
}

.tabela-imagens tr>th>first-child,
.tabale-imagens tr>td:first-child,
.tabale-imagens tr>th:nth-child(2),
.tabale-imagens tr>td:first-child(2),
.tabale-imagens tr>th:last-child,
.tabale-imagens tr>td:last-child,
.tabelas-galerias tr>th:first-child,
.tabelas-galerias tr>td:first-child,
.tabelas-galerias tr>th:last-child,
.tabelas-galerias tr>td:last-child
{
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.tabela-imagens tbody>tr>td {
    vertical-align: middle;
}