.link-ativo {
    text-shadow: 0px 0px 2px #bbb !important;
    color: white !important;
}

.tabelas-galerias tr>th:first-child,
.tabelas-galerias tr>td:first-child,
.tabelas-galerias tr>th:last-child,
.tabelas-galerias tr>td:last-child
{
    width: 1%;
    white-space: nowrap;
    text-align: center;
}